body {
  background-color: rgb(236, 240, 240);
  color: rgb(46, 28, 28);
  font-size: 16px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: rgb(121, 89, 151);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: rgb(24, 24, 245);
}
a:visited {
  color: darkseagreen;
}

.foto {
  width: 220px;
  border-radius: 30px;
  box-shadow: -17px 17px 10px rgba(1, 8, 8, 0.25);
}

.container {
  max-width: 80%;
  margin: 50px;
}

.source {
  background: rgb(236, 240, 240);
  padding: 0px 25px;
  border: solid;
  border-top-color: rgb(236, 240, 240);
  border-right-color: rgb(236, 240, 240);
  border-bottom-color: rgb(236, 240, 240);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 20px 20px;
  display: flex;
}

/* @media (max-width: 700px) {
  .source {
    text-align: center;
    display: block;
  }
} */

.source-info {
  margin-left: 60px;
  margin-top: 0px;
}

.source-info h2 {
  margin-bottom: 60px;
}

.skills {
  background: rgb(241, 241, 227);
  padding: 0px 25px;
  border: 6px solid rgb(199, 231, 202);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 20px 20px;
  border-radius: 10px;
}

.experience {
  background: rgb(207, 228, 219);
  padding: 0px 25px;
  border: 6px solid rgb(204, 201, 202);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 20px 20px;
  line-height: 1, 5;
  border-radius: 10px;
}

.education {
  background: rgb(214, 237, 241);
  padding: 0px 25px;
  border: 6px solid rgb(236, 213, 238);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 20px 20px;
  border-radius: 10px;
}

.languages {
  background: rgb(228, 220, 207);
  padding: 0px 25px;
  border: 6px solid rgb(218, 243, 206);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 20px 20px;
  border-radius: 10px;
}

.feature {
  background: rgb(207, 228, 219);
  padding: 0px 25px;
  border: 6px solid rgb(204, 201, 202);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 20px 20px;
  border-radius: 10px;
}

.contacts {
  background: rgb(224, 224, 218);
  padding: 0px 25px;
  border: 6px solid rgb(171, 192, 173);
  border-left-color: rgb(109, 104, 104);
  border-left-width: 10px;
  margin: 0px 20px;
  border-radius: 10px;
}

.button {
  color: white;
  background: rgb(83, 81, 81);
  padding: 15px 35px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  opacity: 0.7;
}

.box-model > div {
  float: left;
  background: rgb(142, 169, 184);
  height: 200px;
  width: 23%;
  border: 6px solid rgb(243, 234, 205);
  margin: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.list {
  padding-left: 25px;
  margin-bottom: 0px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 15px;
}

.table th {
  padding-bottom: 15px;
}

.table td:nth-child(1) {
  color: rgb(17, 17, 121);
}

.table tr:nth-child(even) {
  background: rgb(238, 213, 217);
}

.education p {
  border-bottom: 1px solid rgb(41, 40, 40);
  padding-bottom: 20px;
}

.contacts h2 {
  text-align: center;
}

.form label {
  display: block;
  font-size: 16px;
}

.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(170, 166, 166);
  color: black;
  padding: 15px 0px 15px;
  outline: none;
  font-family: inherit;
  font-size: 22px;
}

.row {
  /* display: none; */
  display: flex;
  margin-bottom: 20px;
}

.row > .form {
  width: 50%;
  margin-right: 40px;
}

.row > .form:last-child {
  margin-right: 0px;
}

.position {
  position: relative;
  border: 4px solid rgb(236, 240, 240);
  margin: 20px 20px;
  padding: 0px;
  height: 0px;
}

.box1 {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10%;
  right: 6%;
  background: rgb(141, 164, 167);
  border-radius: 50%;
}

.box2 {
  position: fixed;
  width: 100px;
  height: 250px;
  top: 10%;
  right: 5%;
  background: rgb(135, 155, 158);
}

.box3 {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background: rgb(86, 94, 95);
}
